
.board-wrap{
    display: flex;
    margin: 0 auto;
    padding-top: 50px;
    width: 70%;
    justify-content: space-around;
}

.admin{
    margin-right: 50px;
    width: 100%;
}

.user{
    width: 100%;
}

.admin-board{
    display: flow-root;
}

.admin-board>a>span{
    float: left;
}
.admin-board>span{
    float: right;
}

.user-board{
    display: flow-root;
}

.user-board>a>span{
    float: left;
}
.user-board>span{
    float: right;
}